.header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-top: 92px
}

.header__menu {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    grid-column: 1/3;
    align-self: center;
}

.header__links-list {
    display: flex;
    padding-left: 51px;
    list-style: circle;
    gap: 32px
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.header__logo {
    height: 105px;
    display: flex;
    grid-column: 3/5;
    justify-items: center;
}

.address {
    color: #000;
    font-family: 'Raleway';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
    padding-right: 49px;
}

.header__address {
    grid-column: 5/7;
    justify-self: end;
}

.header__address a {
    text-decoration: none;
    border-bottom: 1px solid #000;
}